.container {
    background-color: #19005f;
    color: rgb(247, 215, 4);
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    width: 65%;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  header {
    margin: 40px 10px;
    font-size: 28px;
    text-decoration: double;
  }
  .init{
    border: 2px solid black;
    border-radius: 10px;
    margin: 7% 15%;
    height: 45vh;
    background-color: rgb(247, 215, 4);
    color: #19005f;
    font-weight: bold;
    font-size: 20px;
    padding: 2%;
  }
  .logout_align {
    justify-content: right;
  }
  .logout {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgb(247, 215, 4);
  }
  .icon {
    align-items: center;
    font-size: 24px;
  }
  .btn {
    margin: 5px 30px;
    padding: 10px 20px;
    background-color: #120097;
    color: rgb(252, 255, 239);
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    text-align: center;
  }
  .btn:hover {
    background-color: #45a049;
  }
  p {
    font-size: 18px;
  }